<%= simple_form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="actions">
    <%= f.input :name %>
      <% @i = 0 %>
      <%= f.simple_fields_for :selections do |s| %>
        <% @i += 1 %>
        <% category = Category.find(@i) %>
          <div class="large-4 columns">
          <div class="panel equalHeight">
            <h3><%= category.name %></h3>
            <span class="value"><%= pluralize(category.value, 'point') %></span>
            <%= s.hidden_field :category_id, value: category.id %>
            <% category.nominees.each do |nominee| %>
              <div class="nominee">
                <%= s.radio_button :nominee_id, nominee.id, checked: @entry.previously_selected?(category, nominee) %>
                <%= s.label :nominee_id, nominee.name, value: "#{nominee.id}"  %>
              </div>
            <% end %>
            </div>
          </div>
      <% end %>
    <%= f.button :submit %>
  </div>
</div>
<% end %>
