<%= simple_form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.input :name %>
    <% @categories.each do |category| %>
      <%= f.simple_fields_for :selections, @entry.selections.new do |s| %>
        <%= s.label category.name %>
        <%= s.hidden_field :category_id, value: category.id %>
        <% category.nominees.each do |nominee| %>
          <%= s.label :nominee_id, nominee.name, value: "#{nominee.id}"  %>
          <%= s.radio_button :nominee_id, nominee.id, checked: @entry.selections.find_by(category_id: category.id).nominee == nominee %>
        <% end %>
      <% end %>
    <% end %>

    <%= f.button :submit %>
  </div>
<% end %>
