<p id="notice"><%= notice %></p>

<h1>Score: <%= "#{number_with_precision(@entry.score, :precision => 0)} / #{number_with_precision(total_possible, :precision => 0)}" %> </h1>

<ul>
	<% @entry.selections.each do |selection| %>
		<li><h5><%= selection.category.name %></h5></li>
		<li><p><%= selection.nominee.name %></p></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
