<h1>Score: <%= "#{number_with_precision(@entry.score, :precision => 0)} / #{number_with_precision(total_possible, :precision => 0)}" %> </h1>

<% if submitted_entry? && @entry == current_entry %>
	<%= link_to 'Edit This Entry', edit_entry_path(@entry), class: "button" %>
<% end %>

<div class="row">
	<% @entry.selections.each do |selection| %>
	  <div class="large-4 columns">
		  <div class="panel equalHeight">
				<h3><%= selection.category.name %></h3>
				<% @cat = Category.find(selection.category.id) %>
				<% @cat.nominees.each do |nominee| %>
					<% if nominee == selection.nominee %>
						<% if master_entry %>
							<% master = master_entry.selections.find_by(category_id: @cat) %>
						<% end %>
						<% if master && master.nominee && nominee == master.nominee %>
							<div class="nominee selectee correct">
								<%= nominee.name %>
							</div>
						<% elsif master && master.nominee %>
							<div class="nominee selectee incorrect">
								<%= nominee.name %>
							</div>
						<% else %>
							<div class="nominee selectee">
								<%= nominee.name %>
							</div>
						<% end %>
					<% else %>
						<div class="nominee">
							<%= nominee.name %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
